{% extends "basic2.html" %}
{% block weather %}{{ weather | safe() }}{% endblock %}
{% block content %}
<div class="col-10" style="margin-top: 40px;">
    <h3>군집화</h3>
    <hr>
    <div class="text-center">
        <table>
            <tr>
                <td>
                    군집 개수
                </td>
                <td>
                    {{n_cluster}}
                </td>
            </tr>
            <tr>
                <td>
                    <img src="{{url_for('static', filename='img/original_data.png', q=mtime)}}" alt="원 데이터" width="500px"><br>
                </td>
                <td>
                    <img src="{{url_for('static', filename='img/cluster.png', q=mtime)}}" alt="군집화 결과" width="500px"><br>
                </td>
            </tr>
        </table>
        <button class="btn btn-primary" onclick="location.href='/clust/clust'">돌아가기</button>
    </div>
</div>
{% endblock %}