<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='fontawesome-free-5.15.1-web/css/all.min.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}">
    <script src="{{url_for('static', filename='js/jquery-3.5.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <style type="text/css">
        a:link {color: black; text-decoration: none;}
        a:visited{color: black; text-decoration: none;}
        a:hover{color: red; text-decoration: underline;}
        .rounded-circle {
            display: inline-block;
            width: 50px;
            height: 50px;
            margin: 6px;
            background-color:lightblue;
        }
        .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0;
        }
    </style>
    <title>Data Storage</title>
    {% block another_head %}{% endblock %}
</head>
<body>
    <nav id="top" class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">
            <img src="{{url_for('static', filename='img/hanguel.png')}}" alt="테스트" height="40px" style="margin-left: 10px;">
        </a>
        <!-- Links -->
        <ul class="nav mr-auto nav-pills">
            <li class="nav-item">
                <a class="nav-link {% if menu.da %}bg-secondary{% endif %}" style="color: white; margin-left: 5px;" href="/main"><i class="far fa-chart-bar" style="margin-right: 10px"></i>데이터분석</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if menu.ml %}bg-secondary{% endif %}" style="color: white" href="#"><i class="fas fa-network-wired" style="margin-right: 10px"></i>머신 러닝</a>
            </li>
        </ul>
        <div class="navbar-text fixed-right rounded-lg" id="weather" style="color:white; margin-right: 30px">
            {% block weather %}{% endblock %}
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-2" style="margin-top: 40px;">
                <ul class="nav flex-column nav-pills" style="margin-top: 5px; text-align: right">
                    <li class="nav-item dropdown">
                        <a id="li_seoul" class="nav-link dropdown-toggle {% if menu.se %}bg-danger text-white{% endif %}" data-toggle="dropdown" href="#">서울특별시</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" style="text-align: right" href="/seoul/park">주요 공원 현황</a>
                                <a class="dropdown-item" style="text-align: right" href="/seoul/park_de/area">지역구 공원 비교</a>
                                <a class="dropdown-item" style="text-align: right" href="/seoul/crime">범죄 현황</a>
                                <a class="dropdown-item" style="text-align: right" href="/seoul/cctv">CCTV 현황</a>
                            </div>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li class="nav-item dropdown">
                        <a id="li_covid" class="nav-link dropdown-toggle {% if menu.co %}bg-danger text-white{% endif %}" data-toggle="dropdown" href="#">코로나-19</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" style="text-align: right" href="/covid/national_status">광역시도별 현황</a>
                                <a class="dropdown-item" style="text-align: right" href="/covid/age_gender">연령별, 성별 현황</a>
                                <a class="dropdown-item" style="text-align: right" href="/covid/abroad">해외 현황</a>
                                <a class="dropdown-item" style="text-align: right" href="/covid/visual">시각화</a>
                            </div>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li class="nav-item dropdown">
                        <a id="li_carto" class="nav-link dropdown-toggle {% if menu.ca %}bg-danger text-white{% endif %}" data-toggle="dropdown" href="#">카토그램</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" style="text-align: right" href="/carto/pop_crisis/crisis_area">인구소멸 위기 지역</a>
                                <a class="dropdown-item" style="text-align: right" href="/carto/coffee">커피 지수</a>
                            </div>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li class="nav-item dropdown">
                        <a id="li_crawl" class="nav-link dropdown-toggle {% if menu.cr %}bg-danger text-white{% endif %}" data-toggle="dropdown" href="#">크롤링</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" style="text-align: right" href="/crawl/chart">음악 차트</a>
                            </div>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li class="nav-item">
                        <a id="li_stock" class="nav-link {% if menu.st %}bg-danger text-white{% endif %}" href="/stock/stock">주가 예측</a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li class="nav-item dropdown">
                        <a id="li_cloud" class="nav-link dropdown-toggle {% if menu.wc %}bg-danger text-white{% endif %}" data-toggle="dropdown" href="#">워드 클라우드</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" style="text-align: right" href="/cloud/create_wc">텍스트로 만들기</a>
                                <a class="dropdown-item" style="text-align: right" href="#">경제 뉴스</a>
                                <a class="dropdown-item" style="text-align: right" href="/cloud/sports_keyword">스포츠 뉴스</a>
                            </div>
                    </li>
                </ul>
            </div>
            {% block content %}{% endblock %}
        </div>
    </div>
    <br><br><br><br>
    <nav class="navbar navbar-expand-sm bg-light justify-content-center navbar-light fixed-bottom">
        <span class="navbar-text">Copyright &copy; 2020, WY</span>
    </nav>
    {% block additional_body %}{% endblock %}
</body>
</html>