<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Web</title>
</head>
<body>
    {% if name %}
        Hello {{ name | upper() }}! <!--builtin filters(jinja2)-->
    {% else %}
        Hello World!
    {% endif %}
    <br>
    {{ item | default('item is not defined')}}
    <br>
    <ul>
    {% for key, value in dt.items() %}      <!-- flask에서는 딕셔너리 키를 이렇게 쓸 수 있음 -->
        <li>{{ key }} : {{ value }}</li>
    {% endfor %}
    </ul>
    <ul>
        {% for i in range(5) %}
        <li>{{ i }}</li>
        {% endfor %}
    </ul>
</body>
</html>