{% extends "basic3.html" %}
{% block weather %}{{ weather | safe() }}{% endblock %}
{% block content %}
<div class="col-10" style="margin-top: 40px;">
    <h3>딥 러닝 - 이미지 분석 결과</h3>
    <hr>
    <div class="text-center">
        <table>
            <tr>
                <td colspan="2" style='text-align: center'>
                    <img src="{{url_for('static', filename='img/class_img.jpg', q=mtime)}}" alt="이미지" width="800px">
                </td>
            </tr>
            <tr><td colspan="2"></td></tr>
            <tr>
                <td>VGG16</td>
                <td>
                    {{ result[0] }}
                </td>
            </tr>
            <tr>
                <td>VGG19</td>
                <td>
                    {{ result[1] }}
                </td>
            </tr>
            <tr>
                <td>GoogLeNet</td>
                <td>
                    {{ result[2] }}
                </td>
            </tr>
            <tr>
                <td>ResNet</td>
                <td>
                    {{ result[3] }}
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <button class="btn btn-primary" onclick="location.href='/Deep-Learning/image'">돌아가기</button>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}