{% extends "basic3.html" %}
{% block weather %}{{ weather | safe() }}{% endblock %}
{% block content %}
<div class="col-10" style="margin-top: 40px;">
    <h3>딥 러닝 - etri 이미지 분석</h3>
    <hr>
    <div class="text-center">
        <br>
        <form method="post" enctype="multipart/form-data">
            <div class="col-4"></div>
            <div class="custom-file col-4 mb-5">
                <input type="file" class="custom-file-input" id="image" name="image">
                <label class="custom-file-label" for="raw_data" style='text-align: center'>이미지 파일 선택</label>
            </div>
            <div class="col-4"></div>
            <button class="btn btn-primary" type="submit">보기</button>
        </form>
    </div>
</div>
{% endblock %}
{% block additional_body %}
    <script>
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
{% endblock %}